<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="en">
<head th:replace="~{/fragments/layout:: head}"></head>

<body>
<header th:replace="~{/fragments/layout:: header}"></header>

<main class="container-fluid px-4 cont">
    <div class="row text-center gx-3">
        <div class="col"></div>
        <section class="col-lg-3">
            <div class="bg-second rounded p-2">
                <p>
                    An Unused Section
                </p>
            </div>
        </section>

        <section class = "col-lg-3">
            <div class="bg-second rounded p-3">
                <h2 th:text="#{rooms.title}">:</h2>
                <form method="post" th:action="@{/search-room}">
                    <input class="mb-3" type="text" name="room-name">
                    <select name="genre" class="text-center">
                        <option name="All">All</option>
                        <option name="Pop">Pop Music</option>
                        <option name="Hip hop">Hip Hop</option>
                        <option name="Rock">Rock</option>
                    </select>
                    <input type="submit" value="Search">
                </form>

                <div class="room-card d-flex justify-content-between p-1 my-1" th:each="room: ${roomList}">
                    <a th:href="@{/room/{roomId}/(roomId=${room.roomUUID})}">
                        <div class="d-flex flex-column text-start col">
                            <span class="border-bottom room-item" th:text="${room.name}"><br/></span>
                            <span class="room-item" th:text="${room.genre}"></span>
                        </div>
                    </a>

                </div>
            </div>
        </section>
        <div class="col"></div>
    </div>
</main>

</body>

</html>