<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
<head th:replace="~{/fragments/layout:: head}"></head>

<body>
<header th:replace="~{/fragments/layout:: header}"></header>

<main class="container-xxl px-4 cont">
    <div class="row gx-5 text-center">

        <section class="col col-lg-4">
            <div class="bg-second rounded p-2">
                <p>
                    Audio player
                </p>
                <audio id="audioPlayer" controls autoplay>
                    Your browser does not support the audio element.
                </audio>
            </div>
        </section>

        <section class="col col-m-auto">
            <div class="chat-message">
                <div sec:authorize="hasRole('USER')">
                    <form method="post" th:action="@{chat}" th:object="${sendChatMessageDto}">
                        <textarea th:field="*{messageText}" rows="2" cols="50"></textarea>
                        <span th:if="${#fields.hasErrors('messageText')}" th:errors="*{messageText}" th:errorclass="form-error"></span>
                        <input type="submit" value="send">
                    </form>
                </div>
                <div sec:authorize="isAnonymous()">
                    <p>
                        <a th:href="@{/register}" class="bold color-blue" th:text="#{home.register}">Register</a>
                        <span th:text="#{room.or}"></span>
                        <a th:href="@{/login}" class="bold color-blue" th:text="#{home.login}">Login</a>
                        <span th:text="#{room.notUser}"></span>
                    </p>
                </div>
                <ul class="chat" th:with="side = ${chatMessageList.indexOf(message) % 2}" th:each="message: ${chatMessageList}">
                    <li class="left clearfix" th:if="${side == 1}">
                    	<span class="chat-img pull-left">
                    		<img src="https://bootdey.com/img/Content/user_3.jpg" alt="User Avatar">
                    	</span>
                        <div class="chat-body clearfix">
                            <div class="header">
                                <strong class="primary-font" th:text="${message.user.username}"></strong>
                                <small class="pull-right"><i class="fa fa-clock-o" th:text="${message.passedTime}"></i> mins ago</small>
                            </div>
                            <p th:text="${message.messageText}"></p>
                        </div>
                    </li>

                    <li class="right clearfix" th:if="${side == 0}">
                    	<span class="chat-img pull-right">
                    		<img src="https://bootdey.com/img/Content/user_1.jpg" alt="User Avatar">
                    	</span>
                        <div class="chat-body clearfix">
                            <div class="header">
                                <strong class="primary-font" th:text="${message.user.username}"></strong>
                                <small class="pull-right"><i class="fa fa-clock-o" th:text="${message.passedTime}"></i> mins ago</small>
                            </div>
                            <p th:text="${message.messageText}"></p>
                        </div>
                    </li>
                </ul>
            </div>
        </section>

        <section class = "col col-lg-3">
            <div class="bg-second rounded p-2">
                <h2 class="text-center">In Room:</h2>
                <div th:each="member: ${roomMemberList}">
                    <div class="bg-blue mb-2 p-1 border">
                        <span th:text="${member.username}"></span>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>

<script src="/javascript/streaming.js"></script>
</body>

</html>